/* Color Theme Swatches in RGBA */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Sevillana", "Lato", sans-serif;
  font-weight: 400;
  height: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 700;
  z-index: 10000;
  height: 10vh;
  width: 100%;
  background-color: rgb(70, 49, 43);
  -webkit-box-shadow: 0px 2px 5px 0px black;
          box-shadow: 0px 2px 5px 0px black;
}
nav .logo {
  height: 100%;
  width: 110px;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
nav .napis {
  position: relative;
  width: 100px;
  height: 100%;
}
nav .napis h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 1.4rem;
}
nav .burger {
  position: relative;
  width: 100px;
  height: 100%;
}
nav .burger .fa-bars {
  position: absolute;
  top: 60%;
  left: 60%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  color: white;
  font-size: 2rem;
}
nav .card {
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 50vh;
  background-color: darkblue;
  opacity: 0.35;
}

.spacer {
  width: 100%;
  height: 8vh;
}

.header {
  height: 80vh;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url(../img/tlo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  justify-items: center;
  text-align: center;
}
.header .fa-chevron-down {
  position: relative;
  font-size: 2rem;
  top: 86%;
  color: white;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.564);
}

.mainpage {
  background-color: rgb(208, 212, 216);
  position: relative;
}
.mainpage .carblok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 3vw;
  padding-right: 3vw;
  background-color: rgb(232, 238, 242);
  width: 100%;
  height: 90%;
}
.mainpage .carblok .carousel {
  position: relative;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.217);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.217);
}
.mainpage .carblok .carousel .carousel-item {
  position: relative;
}
.mainpage .carblok .carousel .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 14/9;
}
.mainpage .carblok .carousel .carousel-item .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -27.5px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 0.8rem;
  padding-left: 5px;
  text-align: left;
}
.mainpage .carblok .carousel .carousel-indicators {
  position: absolute;
  top: 10px;
}
.mainpage .specjalizacja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainpage .specjalizacja .specbutton {
  position: relative;
  height: 7vh;
  width: 300px;
  margin-top: 5%;
  border-radius: 25px;
  color: white;
  background-color: rgb(17, 61, 89);
  cursor: pointer;
}
.mainpage .specjalizacja .specbutton .specbuttontext {
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mainpage .specjalizacja .fa-chevron-down {
  position: absolute;
  top: 50%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5rem;
}
.mainpage .nasi {
  position: relative;
  height: 7vh;
  margin-top: 5%;
}
.mainpage .nasi .nasiTitle {
  text-align: center;
}
.mainpage .nasi .linia {
  position: absolute;
  height: 0.1vh;
  width: 40vh;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgb(140, 86, 74);
}
.mainpage .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainpage .list .worker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 90%;
  height: 570px;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 50px;
}
.mainpage .list .worker .worker-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 340px;
}
.mainpage .list .worker .worker-top .background-worker {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  width: 100%;
  height: 45%;
  background-color: rgb(17, 61, 89);
}
.mainpage .list .worker .worker-top .image {
  position: absolute;
  top: 10.5%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.mainpage .list .worker .worker-top .image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 170px;
  width: 170px;
  -webkit-box-shadow: 0px 0px 10px rgb(17, 61, 89);
          box-shadow: 0px 0px 10px rgb(17, 61, 89);
  border-radius: 25%;
}
.mainpage .list .worker .worker-top .spacer {
  width: 100%;
  height: 90px;
}
.mainpage .list .worker .worker-top .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}
.mainpage .list .worker .worker-top .info .dane1 {
  font-weight: bold;
}
.mainpage .list .worker .worker-top .info .dane2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin-top: -10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainpage .list .worker .worker-top .info .dane2 .perk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(114, 78, 69);
  width: 100%;
  inline-size: -webkit-min-content;
  inline-size: -moz-min-content;
  inline-size: min-content;
  height: 2rem;
  -webkit-box-shadow: 0px 0px 4px black;
          box-shadow: 0px 0px 4px black;
  border-radius: 20px;
  margin: 3px;
  font-size: 0.8rem;
  white-space: nowrap;
  color: rgb(232, 238, 242);
}
.mainpage .list .worker .worker-top .info .dane2 .perk .pilka {
  white-space: nowrap;
  width: 1rem;
  height: 1rem;
  background-color: rgb(232, 238, 242);
  border-radius: 50%;
  margin: 0.5rem;
}
.mainpage .list .worker .worker-top .info .dane2 .perk .pertext {
  margin-right: 10px;
}
.mainpage .list .worker .worker-bottom {
  width: 100%;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainpage .list .worker .worker-bottom .rezbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  height: 57px;
  width: 80%;
  border-radius: 25px;
  color: white;
  border: none;
  background-color: rgb(17, 61, 89);
  cursor: pointer;
}
.mainpage .list .worker .worker-bottom .rezbutton p {
  font-weight: bold;
  margin-bottom: 0;
}
.mainpage .list .worker .worker-bottom .message {
  border: none;
  color: white;
  background-color: rgb(17, 61, 89);
}
.mainpage .list .worker .worker-bottom .number {
  border: solid rgb(17, 61, 89);
  color: rgb(17, 61, 89);
  background-color: white;
  margin-bottom: 0px;
}
.mainpage .list .worker .linia {
  position: absolute;
  height: 0.5px;
  width: 40vh;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgb(140, 86, 74);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(17, 61, 89);
  width: 100%;
  height: 30vh;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer .footerlogo {
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
  width: 33vw;
}
.footer .linia {
  width: 0.1vh;
  height: 20vh;
  background-color: white;
}
.footer .help {
  height: 20vh;
  width: 34vw;
}
.footer .help .nfz {
  font-weight: bold;
}
.footer .copyright {
  position: absolute;
  bottom: 3px;
  left: 3px;
  font-size: 0.6rem;
}

@media (max-width: 375px) {
  .mainpage .list .worker .worker-top .image img {
    height: 140px;
    width: 140px;
  }
  .mainpage .list .worker .worker-top .info {
    white-space: nowrap;
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .mainpage .carblok .carousel .carousel-item .carousel-caption {
    bottom: -30px;
    font-size: 0.75rem;
  }
}
@media (min-width: 992px) {
  nav .fa-bars {
    display: none;
  }
  .header {
    display: none;
  }
  .mainpage .carousel {
    display: none;
  }
  .mainpage .specjalizacja .specbutton {
    height: 50px;
    width: 350px;
  }
  .mainpage .nasi .nasiTitle {
    text-align: center;
  }
  .mainpage .nasi .linia {
    width: 95%;
  }
  .mainpage .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
  }
  .mainpage .list .worker {
    width: 500px;
    height: 600px;
  }
  .mainpage .list .worker .worker-bottom {
    bottom: 30px;
    left: 45px;
  }
  .mainpage .list .worker .worker-bottom .rezbutton {
    height: 50px;
    width: 400px;
  }
}/*# sourceMappingURL=styles.css.map */