$mainColor: #2ad591;
$secondColor: rgba(236, 233, 233, 0.918);
$footerColor: #464646;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
}

nav {
	.fa-bars {
		width: 4rem;
		height: 4rem;
		padding: 14px;
		padding-top: 11px;
		border-radius: 40%;
		background-color: white;
		position: fixed;
		z-index: 3;
		top: 20px;
		right: 20px;
		font-size: 2.5rem;
		color: $mainColor;
		border-style: groove;
		border-color: #f6f6f65d;
		border-left: none;
		border-bottom: none;
		cursor: pointer;
	}
}
.header {
	height: 60vh;
	padding-left: 20px;
	padding-right: 20px;
	//background-color: $secondColor;
	background-color: $footerColor;
	background-image: url(../img/PrzechwytywanieWhite.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.mainpage {
	position: relative;
	background-color: $secondColor;
	.carousel-item {
		height: 30vh;
		img {
			height: 30vh;
		}
	}
	.specjalizacja {
		display: flex;
		justify-content: center;
		align-items: center;
		.specbutton {
			position: relative;
			height: 7vh;
			width: 300px;
			margin-top: 5%;
			border-radius: 25px;
			color: white;
			background-color: $mainColor;
			cursor: pointer;
			.specbuttontext {
				position: absolute;
				top: 50%;
				left: 45%;
				transform: translate(-50%, -50%);
			}
		}
		.fa-chevron-down {
			position: absolute;
			top: 50%;
			left: 85%;
			transform: translate(-50%, -50%);
			font-size: 1.5rem;
		}
	}
	.nasi {
		position: relative;
		height: 7vh;
		margin-top: 5%;
		.nasiTitle {
			text-align: center;
		}
		.linia {
			position: absolute;
			height: 0.1vh;
			width: 40vh;
			top: 80%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: grey;
		}
	}
	.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		.worker {
			display: flex;
			flex-direction: column;
			position: relative;
			height: 70vh;
			width: 85vw;
			margin-bottom: 40px;
			background-color: rgba(255, 255, 255, 0.664);
			border-radius: 5px;
			.worker-top {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 60%;
				background-color: white;
				border-bottom: 1px solid $secondColor;
				.background-worker {
					width: 100%;
					height: 45%;
					background-color: #464646;
				}
				.image {
					position: absolute;
					top: 12.5%;
					left: 50%;
					transform: translate(-50%);
					img {
						height: 170px;
						width: 170px;
						border: 10px solid rgba(255, 250, 250, 0.4);
						border-radius: 25%;
					}
				}
				.info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 1rem;
					.dane1 {
						font-weight: bold;
					}
					.dane2 {
					}
				}
			}
			.rezerwacja {
				display: flex;
				flex-direction: column;
				position: absolute;
				bottom: 2vh;
				left: 7.5vw;
				.rezbutton {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 5px;
					height: 7vh;
					width: 70vw;
					border-radius: 25px;
					color: grey;
					border: solid grey;
					cursor: pointer;
					p {
						font-weight: bold;
						margin-bottom: 0;
					}
				}
				.message {
					border: none;
					color: white;
					background-color: $mainColor;
				}
				.number {
					border: solid $mainColor;
					color: $mainColor;
					background-color: white;
				}
			}
		}
	}
}
.footer {
	display: flex;
	background-color: #464646;
	width: 100%;
	height: 30vh;
	color: white;
	align-items: center;
	justify-content: space-around;
	.footerlogo {
		background-image: url('../img/logo_alpha.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		height: 20vh;
		width: 33vw;
	}
	.linia {
		width: 0.1vh;
		height: 20vh;
		background-color: white;
	}
	.help {
		height: 20vh;
		width: 34vw;
		.nfz {
			font-weight: bold;
		}
	}
	.copyright {
		position: absolute;
		bottom: 3px;
		left: 3px;
		font-size: 0.6rem;
		font-weight: bold;
	}
}
@media (max-width: 391px) {
	.mainpage {
		.list {
			.worker {
				.worker-top {
					.image {
						img {
							height: 140px;
							width: 140px;
						}
					}
					.info {
						white-space: nowrap;
						font-size: 1.1rem;
					}
				}
			}
		}
	}
}
@media (min-width: 992px) {
	nav {
		.fa-bars {
			display: none;
		}
	}
	.header {
		display: none;
	}
	.mainpage {
		.carousel {
			display: none;
		}
		.specjalizacja {
			.specbutton {
				height: 50px;
				width: 350px;
			}
		}
		.nasi {
			.nasiTitle {
				text-align: center;
			}
			.linia {
				width: 95%;
			}
		}
		.list {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
			justify-items: center;
			.worker {
				width: 500px;
				height: 600px;
				.rezerwacja {
					bottom: 30px;
					left: 45px;
					.rezbutton {
						height: 50px;
						width: 400px;
					}
				}
			}
		}
	}
}
