*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

nav {
  display: flex;
  position: fixed;
  justify-content: space-around;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 700;
  z-index: 3;
  height: 10vh;
  width: 100%;
  background-color: rgb(70, 49, 43);
  box-shadow: 0px 2px 5px 0px black;
}
nav .logo {
  height: 100%;
  width: 110px;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
nav .napis {
  position: relative;
  width: 100px;
  height: 100%;
}
nav .napis h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.4rem;
}
nav .burger {
  position: relative;
  width: 100px;
  height: 100%;
}
nav .burger .fa-bars {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -80%);
  color: white;
  font-size: 2rem;
}

.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  background-color: white;
}
.mainpage .request {
  margin-top: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 50vh;
  background-color: rgb(208, 212, 216);
  border-radius: 10px;
}
.mainpage .request .twojaWizyta {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 15%;
  background-color: rgb(17, 61, 89);
}
.mainpage .request .twojaWizyta p {
  font-size: 1.3rem;
  color: white;
}
.mainpage .request .opis {
  width: 100%;
  height: 85%;
}
.mainpage .request .opis .ciemny {
  width: 100%;
  height: 25%;
  background-color: rgba(222, 222, 222, 0.918);
}
.mainpage .request .opis .jasny {
  width: 100%;
  height: 25%;
  background-color: rgb(208, 212, 216);
}
.mainpage .request .opis .miejsce {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.mainpage .guziki {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7.5%;
  width: 90%;
  height: 15vw;
  font-size: 4vw;
  margin-bottom: 15px;
}
.mainpage .guziki .guzik {
  height: 100%;
  width: 47.5%;
  border-radius: 25px;
}
.mainpage .guziki .powrot {
  position: relative;
  color: white;
  background-color: rgb(17, 61, 89);
}
.mainpage .guziki .powrot p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainpage .guziki .potwierdz {
  position: relative;
  color: white;
  background-color: rgb(17, 61, 89);
}
.mainpage .guziki .potwierdz p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  display: flex;
  background-color: rgb(17, 61, 89);
  width: 100%;
  height: 30vh;
  color: white;
  align-items: center;
  justify-content: space-around;
}
.footer .footerlogo {
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
  width: 33vw;
}
.footer .linia {
  width: 0.1vh;
  height: 20vh;
  background-color: white;
}
.footer .help {
  height: 20vh;
  width: 34vw;
}
.footer .copyright {
  position: absolute;
  bottom: 3px;
  left: 3px;
  font-size: 0.6rem;
}/*# sourceMappingURL=style2.css.map */