*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Sevillana", "Lato", sans-serif;
}

nav {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  width: 100%;
  background-color: rgb(17, 61, 89);
}
nav .logo {
  height: 100%;
  width: 100px;
  background-image: url("../img/logo_alpha.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
nav .napis {
  position: relative;
  width: 100px;
  height: 100%;
}
nav .napis h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.4rem;
}
nav .burger {
  position: relative;
  width: 100px;
  height: 100%;
}
nav .burger .fa-bars {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -80%);
  color: rgb(208, 212, 216);
  font-size: 2rem;
}

.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 7vh;
  background-color: rgb(232, 238, 242);
}
.mainpage .worker {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 85vw;
  height: 520px;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 50px;
}
.mainpage .worker .worker-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
}
.mainpage .worker .worker-top .background-worker {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  width: 100%;
  height: 45%;
  background-color: rgb(17, 61, 89);
}
.mainpage .worker .worker-top .ped {
  width: 100%;
  height: 45%;
}
.mainpage .worker .worker-top .image {
  position: absolute;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%);
}
.mainpage .worker .worker-top .image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 220px;
  width: 220px;
  box-shadow: 0px 0px 10px rgb(17, 61, 89);
  border-radius: 25%;
}
.mainpage .worker .worker-top .spacer {
  width: 100%;
}
.mainpage .worker .worker-top .info {
  display: flex;
  width: 100%;
  height: 55%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
}
.mainpage .worker .worker-top .info .dane1 {
  font-weight: bold;
  font-size: 1.2rem;
}
.mainpage .worker .worker-top .info .dane2 {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  max-width: 70vw;
  margin-top: 10px;
  margin-bottom: 0px;
  align-items: center;
}
.mainpage .worker .worker-top .info .dane2 .perk {
  display: flex;
  align-items: center;
  background-color: rgb(114, 78, 69);
  width: 100%;
  inline-size: -webkit-min-content;
  inline-size: -moz-min-content;
  inline-size: min-content;
  height: 2rem;
  box-shadow: 0px 0px 4px black;
  border-radius: 20px;
  margin: 3px;
  font-size: 0.8rem;
  white-space: nowrap;
  color: rgb(232, 238, 242);
}
.mainpage .worker .worker-top .info .dane2 .perk .pilka {
  white-space: nowrap;
  width: 1rem;
  height: 1rem;
  background-color: rgb(232, 238, 242);
  border-radius: 50%;
  margin: 0.5rem;
}
.mainpage .worker .worker-top .info .dane2 .perk .pertext {
  margin-right: 10px;
}
.mainpage .worker .worker-bottom {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainpage .worker .worker-bottom .rezbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  height: 7vh;
  width: 70vw;
  border-radius: 25px;
  color: white;
  border: none;
  background-color: rgb(17, 61, 89);
  cursor: pointer;
}
.mainpage .worker .worker-bottom .rezbutton p {
  font-weight: bold;
  margin-bottom: 0;
}
.mainpage .worker .worker-bottom .message {
  border: none;
  color: white;
  background-color: rgb(17, 61, 89);
}
.mainpage .worker .worker-bottom .number {
  border: solid rgb(17, 61, 89);
  color: rgb(17, 61, 89);
  background-color: white;
  margin-bottom: 0px;
}
.mainpage .button-reason {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 90%;
  height: 70px;
  background-color: rgb(17, 61, 89);
  border-radius: 25px;
}
.mainpage .button-reason p {
  font-size: 1.5rem;
  color: white;
}
.mainpage .button-reason .fa-chevron-down {
  position: absolute;
  right: 40px;
  color: white;
  font-size: 1.5rem;
}
.mainpage #calendar {
  margin-top: 30px;
  width: 90%;
  height: auto;
}

.footer {
  position: absolute;
  top: 70v;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30vh;
  margin-top: 30px;
  color: white;
  background-color: rgb(17, 61, 89);
}
.footer .footerlogo {
  background-image: url("../img/logo_alpha.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
  width: 33vw;
}
.footer .linia {
  width: 0.1vh;
  height: 20vh;
  background-color: white;
}
.footer .help {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
  width: 34vw;
}
.footer .help .nfz {
  font-weight: bold;
}
.footer .copyright {
  position: absolute;
  bottom: 3px;
  left: 3px;
  font-size: 0.6rem;
  color: lightgray;
}/*# sourceMappingURL=style1.css.map */