*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

@media (min-width: 300px) and (max-width: 900px) {
  nav .fa-bars {
    width: 4rem;
    height: 4rem;
    padding: 14px;
    padding-top: 11px;
    border-radius: 40%;
    background-color: white;
    position: fixed;
    z-index: 3;
    top: 20px;
    right: 20px;
    font-size: 2.5rem;
    color: #2ad591;
    border-style: groove;
    border-color: rgba(246, 246, 246, 0.3647058824);
    border-left: none;
    border-bottom: none;
  }
  .header {
    height: 50vh;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(../img/logo_alpha.png);
    background-color: #2c2c2c;
    background-size: contain;
    background-position: center;
  }
  .mainpage {
    position: relative;
    background-color: rgba(236, 233, 233, 0.918);
  }
  .mainpage .carousel-item {
    height: 30vh;
  }
  .mainpage .carousel-item img {
    height: 30vh;
  }
  .mainpage .specjalizacja {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainpage .specjalizacja .specbutton {
    position: relative;
    height: 7vh;
    width: 300px;
    margin-top: 5%;
    border-radius: 25px;
    color: white;
    background-color: #2ad591;
  }
  .mainpage .specjalizacja .specbutton .specbuttontext {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  .mainpage .specjalizacja .fa-chevron-down {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
  }
  .mainpage .nasi {
    position: relative;
    height: 7vh;
    margin-top: 5%;
  }
  .mainpage .nasi .nasiTitle {
    text-align: center;
  }
  .mainpage .nasi .linia {
    position: absolute;
    height: 0.1vh;
    width: 40vh;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
  }
  .mainpage .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainpage .list .worker {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50vh;
    width: 85vw;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 5px;
  }
  .mainpage .list .worker .worker-top {
    display: flex;
  }
  .mainpage .list .worker .worker-top .image {
    margin-left: 5%;
    margin-top: 5%;
  }
  .mainpage .list .worker .worker-top .image img {
    height: 22vh;
    width: 35vw;
    border-radius: 5px;
  }
  .mainpage .list .worker .worker-top .info {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 2vw;
    margin-left: 2vw;
    height: 23vh;
    font-size: 1rem;
  }
  .mainpage .list .worker .workhours {
    margin-top: 5%;
    margin-left: 5%;
  }
  .mainpage .list .worker .rezerwacja {
    position: absolute;
    bottom: 2vh;
    left: 7.5vw;
  }
  .mainpage .list .worker .rezerwacja .rezbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 70vw;
    border-radius: 25px;
    color: white;
    background-color: #2ad591;
  }
  .mainpage .list .worker .rezerwacja .rezbutton .rezbuttontext {
    color: white;
  }
  .mainpage .list .worker .linia {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
  }
  .footer {
    display: flex;
    background-color: #464646;
    width: 100vw;
    height: 30vh;
    color: white;
    align-items: center;
    justify-content: space-around;
  }
  .footer .footerlogo {
    background-image: url("../img/logo_alpha.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
    width: 33vw;
  }
  .footer .linia {
    width: 0.1vh;
    height: 20vh;
    background-color: white;
  }
  .footer .help {
    height: 20vh;
    width: 34vw;
  }
  .footer .help .nfz {
    font-weight: bold;
  }
  .footer .copyright {
    position: absolute;
    bottom: 3px;
    left: 3px;
    font-size: 0.6rem;
    font-weight: bold;
  }
}/*# sourceMappingURL=styles.css.map */