*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

nav {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  width: 100%;
  background-color: rgba(236, 233, 233, 0.918);
}
nav .logo {
  height: 100%;
  width: 100px;
  background-image: url("../img/logo_alpha.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
nav .napis {
  position: relative;
  width: 100px;
  height: 100%;
}
nav .napis h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1.4rem;
}
nav .burger {
  position: relative;
  width: 100px;
  height: 100%;
}
nav .burger .fa-bars {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -80%);
  color: #2ad591;
  font-size: 2rem;
}

.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  background-color: white;
}
.mainpage .worker {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 50vh;
  background-color: rgba(236, 233, 233, 0.918);
  border-radius: 10px;
}
.mainpage .worker .image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 75%;
  width: 70%;
}
.mainpage .worker .image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 220px;
  width: 250px;
  margin-left: 6.5px;
  box-shadow: -10px -10px 0px 3px #CC1465;
}
.mainpage .worker .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.mainpage .worker .info .dane1 {
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.mainpage .button-reason {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 90%;
  height: 70px;
  background-color: #2ad591;
  border-radius: 25px;
}
.mainpage .button-reason p {
  font-size: 1.5rem;
  color: white;
}
.mainpage .button-reason .fa-chevron-down {
  position: absolute;
  right: 40px;
  color: white;
  font-size: 1.5rem;
}
.mainpage #calendar {
  margin-top: 30px;
  width: 90%;
  height: 90vw;
  background-color: #464646;
}

.footer {
  position: absolute;
  top: 70v;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30vh;
  margin-top: 30px;
  color: white;
  background-color: #464646;
}
.footer .footerlogo {
  background-image: url("../img/logo_alpha.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
  width: 33vw;
}
.footer .linia {
  width: 0.1vh;
  height: 20vh;
  background-color: white;
}
.footer .help {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
  width: 34vw;
}
.footer .help .nfz {
  font-weight: bold;
}
.footer .copyright {
  position: absolute;
  bottom: 3px;
  left: 3px;
  font-size: 0.6rem;
  color: lightgray;
}/*# sourceMappingURL=style1.css.map */