//$mainColor: #2ad591;
//$secondColor: rgba(236, 233, 233, 0.918);
//$thirdColor: rgba(199, 199, 199, 0.918);
// $footerColor: #464646;
// $stspec: #5C9099;
// $ndspec: #CC1465;

/* Color Theme Swatches in RGBA */
$mainColor: rgba(17, 61, 89, 1);
$navColor: rgb(70, 49, 43);
$footerColor: rgba(17, 61, 89, 1);
$secondColor: rgba(208, 212, 216, 1);
$thirdColor: rgba(232, 238, 242, 1);
$stspec: rgba(140, 86, 74, 1);
$ndspec: rgba(114, 78, 69, 1);
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	// font-family: 'Lato', sans-serif;
	// font-weight: 400;
}
body {
	position: relative;
	font-family: 'Alegreya Sans SC', 'Lato', sans-serif;
	font-weight: 400;
	height: 100%;
}
// nav {
// 	//-webkit-filter: invert(100%);
// 	.fa-bars {
// 		background-color: #4646466f;
// 		width: 4rem;
// 		height: 4rem;
// 		padding: 14px;
// 		padding-top: 11px;
// 		border-radius: 40%;
// 		position: fixed;
// 		z-index: 3;
// 		top: 20px;
// 		right: 20px;
// 		font-size: 2.5rem;
// 		color: transparent;
// 		box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.38);
// 		text-shadow: 1px 0px rgba(0, 0, 0, 0.564);
// 		cursor: pointer;
// 	}
// }
nav {
	display: flex;
	position: fixed;
	justify-content: space-around;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 700;
	z-index: 3;
	height: 10vh;
	width: 100%;
	background-color: $navColor;
	box-shadow: 0px 2px 5px 0px black;
	// border-bottom-left-radius: 10px;
	// border-bottom-right-radius: 10px;
	.logo {
		height: 100%;
		width: 110px;
		background-image: url('../img/logo.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left;
	}
	.napis {
		position: relative;
		width: 100px;
		height: 100%;
		h1 {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: white;
			font-size: 2rem;
		}
	}
	.burger {
		position: relative;
		width: 100px;
		height: 100%;
		.fa-bars {
			position: absolute;
			top: 60%;
			left: 60%;
			transform: translate(-50%, -80%);
			color: white;
			font-size: 2rem;
		}
	}
}
.spacer {
	width: 100%;
	height: 8vh;
}
.header {
	height: 80vh;
	padding-left: 20px;
	padding-right: 20px;
	background-image: url(../img/tlo2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	justify-items: center;
	text-align: center;
	.fa-chevron-down {
		position: relative;
		font-size: 2rem;
		top: 86%;
		color: white;
		text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.564);
	}
}
.mainpage {
	background-color: $secondColor;
	position: relative;
	.carblok {
		display: flex;
		justify-content: center;
		padding-top: 5%;
		padding-bottom: 5%;
		padding-left: 3vw;
		padding-right: 3vw;
		background-color: $thirdColor;
		width: 100%;
		height: 90%;
		.carousel {
			position: relative;
			box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.217);
			.carousel-item {
				position: relative;
				img {
					object-fit: cover;
					aspect-ratio: 14/9;
				}
				.carousel-caption {
					position: absolute;
					left: 0;
					right: 0;
					bottom: -27.5px;
					background-color: rgba(0, 0, 0, 0.8);
					font-size: 0.8rem;
					padding-left: 5px;
					text-align: left;
				}
			}
			.carousel-indicators {
				position: absolute;
				top: 10px;
			}
		}
	}
	.specjalizacja {
		display: flex;
		justify-content: center;
		align-items: center;
		.specbutton {
			position: relative;
			height: 7vh;
			width: 300px;
			margin-top: 5%;
			border-radius: 25px;
			color: white;
			background-color: $mainColor;
			cursor: pointer;
			.specbuttontext {
				position: absolute;
				top: 50%;
				left: 45%;
				transform: translate(-50%, -50%);
			}
		}
		.fa-chevron-down {
			position: absolute;
			top: 50%;
			left: 85%;
			transform: translate(-50%, -50%);
			font-size: 1.5rem;
		}
	}
	.nasi {
		position: relative;
		height: 7vh;
		margin-top: 5%;
		.nasiTitle {
			text-align: center;
		}
		.linia {
			position: absolute;
			height: 0.1vh;
			width: 40vh;
			top: 80%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $stspec;
		}
	}
	.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		.worker {
			display: flex;
			flex-direction: column;
			position: relative;
			//width: 320px;
			width: 90%;
			height: 570px;
			margin-bottom: 50px;
			background-color: rgba(255, 255, 255, 0.664);
			border-radius: 50px;
			.worker-top {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 340px;
				.background-worker {
					border-top-right-radius: 50px;
					border-top-left-radius: 50px;
					width: 100%;
					height: 45%;
					background-color: $mainColor;
				}
				// .ped {
				// 	// width: 100%;
				// 	// height: 45%;
				// 	// background-position: 100px;
				// }
				.image {
					position: absolute;
					top: 10.5%;
					left: 50%;
					transform: translate(-50%);
					img {
						object-fit: cover;
						object-position: top;
						height: 170px;
						width: 170px;
						box-shadow: 0px 0px 10px $mainColor;
						border-radius: 25%;
					}
				}
				.spacer {
					width: 100%;
					height: 90px;
				}
				.info {
					display: flex;
					width: 100%;
					flex-direction: column;
					justify-content: flex-end;
					align-items: center;
					// position: absolute;
					// top: 55%;
					// left: 50%;
					// transform: translate(-50%, -50%);
					font-size: 1rem;
					.dane1 {
						font-weight: bold;
					}
					.dane2 {
						display: flex;
						flex-wrap: wrap;
						width: 80%;
						margin-top: -10px;
						align-items: center;
						justify-content: center;
						.perk {
							display: flex;
							align-items: center;
							background-color: $ndspec;
							width: 100%;
							inline-size: min-content;
							height: 2rem;
							box-shadow: 0px 0px 4px black;
							border-radius: 20px;
							//padding-left: 3px;
							//padding-right: 1px;
							margin: 3px;
							font-size: 0.8rem;
							white-space: nowrap;
							color: $thirdColor;
							.pilka {
								white-space: nowrap;
								width: 1rem;
								height: 1rem;
								background-color: $thirdColor;
								border-radius: 50%;
								margin: 0.5rem;
							}
							.pertext {
								margin-right: 10px;
							}
						}
					}
				}
			}
			.worker-bottom {
				width: 100%;
				height: 230px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.rezbutton {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 5px;
					height: 57px;
					width: 80%;
					border-radius: 25px;
					color: white;
					border: none;
					background-color: $mainColor;
					cursor: pointer;
					p {
						font-weight: bold;
						margin-bottom: 0;
					}
				}
				.message {
					border: none;
					color: white;
					background-color: $mainColor;
				}
				.number {
					border: solid $mainColor;
					color: $mainColor;
					background-color: white;
					margin-bottom: 0px;
				}
			}
			.linia {
				position: absolute;
				height: 0.5px;
				width: 40vh;
				bottom: -25px;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: $stspec;
			}
		}
	}
}

.footer {
	display: flex;
	background-color: $footerColor;
	width: 100%;
	height: 30vh;
	color: white;
	align-items: center;
	justify-content: space-around;
	.footerlogo {
		background-image: url('../img/logo.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		height: 20vh;
		width: 33vw;
	}
	.linia {
		width: 0.1vh;
		height: 20vh;
		background-color: white;
	}
	.help {
		height: 20vh;
		width: 34vw;
		.nfz {
			font-weight: bold;
		}
	}
	.copyright {
		position: absolute;
		bottom: 3px;
		left: 3px;
		font-size: 0.6rem;
	}
}
@media (max-width: 375px) {
	.mainpage {
		.list {
			.worker {
				.worker-top {
					.image {
						img {
							height: 140px;
							width: 140px;
						}
					}
					.info {
						white-space: nowrap;
						font-size: 1rem;
					}
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.mainpage {
		.carblok {
			.carousel {
				.carousel-item {
					.carousel-caption {
						bottom: -30px;
						font-size: 0.75rem;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	nav {
		.fa-bars {
			display: none;
		}
	}
	.header {
		display: none;
	}
	.mainpage {
		.carousel {
			display: none;
		}
		.specjalizacja {
			.specbutton {
				height: 50px;
				width: 350px;
			}
		}
		.nasi {
			.nasiTitle {
				text-align: center;
			}
			.linia {
				width: 95%;
			}
		}
		.list {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
			justify-items: center;
			.worker {
				width: 500px;
				height: 600px;
				.worker-bottom {
					bottom: 30px;
					left: 45px;
					.rezbutton {
						height: 50px;
						width: 400px;
					}
				}
			}
		}
	}
}
