#kal_body {
    min-width:400px;
    width: 50vw;
    background-color: rgba(232,238,242, 1);
    display: flex;
    flex-direction: column;
}
.kal_week{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    padding: 1vw;
    margin:0;
}
.kal_day{
    width:5vw;
    height: 5vw;
    padding: 0;
    margin: 0.5vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 0.25vw;
    background-color: white;
}


.kal_day_c {
    width:5vw;
    height: 5vw;
    margin: 0.5vw;
    justify-content: flex-start;
    display: flex;
    border-radius: 0.25vw;
    flex-direction: column;
    background-color: red;
    
}
.kal_day_ntm {
    
    opacity:0.5;
    
    background-color: grey;
    
}
.kal_day_o {
    
    background-color: green;
    
}
.kal_day_o:hover{
    width: 6vw;
    height: 5.5vw;
    margin: 0;
    padding-top: 0.5vw;
}

.dn{
    font-size: 1.5vw;
    height: 2vw;
    width: 100%;
}
.appo{
    justify-content: center;
    font-size: 0.75vw;
    height: 3vw;
    width: 100%;
}
